<div>
    <ul>
        <li><a routerLink="/home">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/movie-list">
                Movie List
            </a>
        </li>
        <li>
                <a routerLink="/movie-details">
                    Enter Movie
                </a>
            </li>
            <li>
                <a href="#" (click)="signOut()">
                    Log out
                </a>
            </li> 
            <li>
                <a routerLink="" (click)="onHello()">
                    On Hello, header check
                </a>
            </li>  
    
    </ul> 
              
</div>
<router-outlet></router-outlet>
